<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Biomass Mapping Tool</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <style>
    .form-container {
      margin-top: 20px;
    }
  
    .graph-container {
      border: 1px solid #ddd;
      padding: 10px;
      margin-top: 20px;
      max-height: 500px; /* Set the maximum height for the graph container */
      overflow-y: auto; /* Enable vertical scrolling if content exceeds the container height */
      max-width: 1120px;
    }
  
    .graph-item {
      margin-bottom: 20px;
    }
  
    .output-box {
      border: 1px solid #ddd;
      padding: 10px;
      margin-top: 20px;
    }
  
    .custom-box {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 20px;
      background-color: #ffffff;
    }
  
    /* Set the width of the carousel controls */
    .carousel-control-prev,
    .carousel-control-next {
      width: 50px; /* Replace with your desired width */
    }
  
    /* Set the height of the carousel images */
    #carouselExampleAutoplaying img {
      height: 400px; /* Replace with your desired height */
    }
  
    .selected-crops-heading {
      font-family: Arial, sans-serif;
      font-size: 35px;
      color: #000000; /* Bluish color */
      text-align: center;
      margin-top: 32px;
      text-decoration: none;
    }
  
    .selected-crops-heading a {
      text-decoration: none; /* Remove the underline from the link */
      color: #000000;
    }
  
    .selected-crops-paragraph {
      font-family: Arial, sans-serif;
      font-size: 16px;
      color: #000000; /* Bluish color */
      font-weight: bold;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 40px;
      margin-left: 70px;
      margin-right: 70px;
    }
  
    /* Additional styles for dropdown alignment */
    .form-container .col {
      margin-bottom: 20px;
    }

    .navbar-nav .nav-link {
      font-size: 20px;
    }
    .navbar-brand{
      font-size: 30px;
    }
  </style>
  


</head>
<body>
  <form action="/submit" method="POST">
    <nav class="navbar navbar-expand-lg navbar-dark bg-black navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Biomass Mapping Tool</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Explore
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#all-crops-heading">All crops</a></li>
                <li><a class="dropdown-item" href="#single-crop-heading">Single Crop</a></li>
                <li><a class="dropdown-item" href="#">Selected Crops</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled text-light">Documentation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">About Us</a>
            </li>
          </ul>
          <img src="..\static/iitd.png" alt="Logo" class="navbar-brand" style="height: 100px; width: 100px">
          <img src="..\static/logo.png" alt="Logo" class="navbar-brand" style="height: 80px; width: 150px">
        </div>
      </div>
    </nav>
  
    <div class="container">
      <div class="custom-box">
        <h3 class="mb-4">Biomass Potential Mapping tool</h3>
        <p><strong>Our tool allows the user to obtain the raw residual biomass potential for any region selected by the user. Currently, we provide choices for regions
          till GADM boundary level 1. The users can select any region of their choice and then select the preferred Climate Model, Water Supply Conditions in the Future,
          and the input level. Most of the data that is used in this project has been obtained from GAEZv4 developed by FAO & IIASA.</strong></p>
          
        <p><strong>Another option that we provide our users is the option to select between cropland and marginal land. This is what we mean by each of them - </strong></p>
        <ul>
          <li><strong>Cropland: This is the region that is being used to mainly produce the food to ensure food security. We are making 
          an assumption that the cropland area remains same as that if 2010 throughout the century. But the yield values will change throughout the time and therefore the 
        residue that we will obtain from the crops will change.</strong></li>
          <li><strong>Marginal land: The other major part of our project provides the production values for the remaining land excluding 
          forests, glaciers, desserts etc. where the crops can be grown in the future. Here we provide you with the raw residue biomass potential from
          by using the production values of the crop which will have the maximum yield for each pixel within the selected region.</strong> </li>
        </ul>
        
        
      </div>
    </div>
    


    <div class="container">
      <div class="row">
        <div class="col">
          <div id="carouselContainer">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" >
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../static/Opening.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../static/Interactive Bar Graphs.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../static/Interactive Rasters.png" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next" >
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3 id="all-crops-heading" class="selected-crops-heading">All Crops</h3>
    <p class="selected-crops-paragraph"> The following inputs allow you to get the raw biomass potential from all 
      crop residues in the selected region. You can choose from Cropland and Marginal Land as of now.
    </p>
    
    <!-- ...Existing HTML code... -->
    <div class="container form-container">
      <div class="row">
        <div class="col">
          <label for="inputCountry" class="form-label"><strong>Country</strong></label>
          <select class="form-select" id="inputCountry" name="country" aria-label="Country">
            {% for country in countries %}
            <option value="{{ country }}">{{ country }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col">
          <label for="inputProvince" class="form-label"><strong>Province</strong></label>
          <select class="form-select" id="inputProvince" name="province" aria-label="Province">
            <!-- The province options will be dynamically populated based on the selected country -->
          </select>
        </div>
        <div class="col">
          <label for="inputWaterSupply" class="form-label"><strong>Water Supply Future</strong></label>
          <select class="form-select" id="inputWaterSupply" name="water_supply_future" aria-label="Water Supply Future">
            <option value="Available water content of 200 mm/m (under irrigation conditions)">Available water content of 200 mm/m (under irrigation conditions)</option>
            <option value="Available water content of 200 mm/m (under rain-fed conditions)">Available water content of 200 mm/m (under rain-fed conditions)</option>
            <!-- Add more options as needed -->
          </select>
        </div>
        <div class="col">
          <label for="inputClimateModel" class="form-label"><strong>Climate Model</strong></label>
          <select class="form-select" id="inputClimateModel" name="climate_model" aria-label="Climate Model" >
            <option value="GFDL-ESM2M">GFDL-ESM2M</option>
            <option value="NorESM1-M">NorESM1-M</option>
            <option value="MIROC-ESM-CHEM">MIROC-ESM-CHEM</option>
            <option value="IPSL-CM5A-LR">IPSL-CM5A-LR</option>
            <option value="HadGEM2-ES">HadGEM2-ES</option>
            <!-- Add more options as needed -->
          </select>
        </div>
        <div class="col">
          <label for="inputInputLevel" class="form-label"><strong>Input Level</strong></label>
          <select class="form-select" id="inputInputLevel" name="input_level" aria-label="Input Level" >
            <option value="High">High</option>
            <!-- Add more options as needed -->
          </select>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <label for="plotTypeSelect" class="form-label"><strong>Plot Type</strong></label>
          <select class="form-select" id="plotTypeSelect" name="plot_type" aria-label="Plot Type">
            <option value="cropland">Cropland</option>
            <option value="marginal">Marginal Land</option>
          </select>
        </div>
      </div>
    </div>
    <div class="container graph-container">
      {% if graph_html %}
      <div class="graph-item">
        {{ graph_html | safe }}
      </div>
      <div class="download-button-container">
        <button type="button" class="btn btn-primary" id="downloadButton">Download Xarrays as CSV</button>
      </div>
      {% else %}
      <p>No Graphs requested</p>
      {% endif %}
    </div>

    <div class="container form-container">
      <div class="row mt-3">
        <div class="col-auto align-self-end">
          <button type="submit" class="btn btn-dark">Submit</button>
        </div>
      </div>
    </div>
  </form>

    
    <!-- Add the form to download xarrays as CSV -->
    <div class="container form-container">
      <form action="/download_csv" method="POST" id="downloadForm">
        <input type="hidden" name="xarrays" value="{{ xarrays }}">
      </form>
    </div>
    

    
    

  <h3 id="single-crop-heading" class="selected-crops-heading">Single Crop</h3>
    <p class="selected-crops-paragraph"> The following inputs allow you to get the raw biomass potential from single  
      crop residues in the selected region. 
    </p>
  

    <script>
      var provincesData = {
        {% for country, country_provinces in provinces.items() %}
        "{{ country }}": {{ country_provinces | tojson| safe }},
        {% endfor %}
      };
    
      var countryDropdown = document.getElementById("inputCountry");
      var provinceDropdown = document.getElementById("inputProvince");
    
      function updateProvinces() {
        var selectedCountry = countryDropdown.value;
        var countryProvinces = provincesData[selectedCountry];
    
        provinceDropdown.innerHTML = ""; // Clear current options
    
        for (var i = 0; i < countryProvinces.length; i++) {
          var province = countryProvinces[i];
          var option = document.createElement("option");
          option.value = province;
          option.text = province;
          provinceDropdown.appendChild(option);
        }
      }
    
      countryDropdown.addEventListener("change", updateProvinces);
      updateProvinces(); // Call initially to populate provinces based on default selected country

      document.getElementById("downloadButton").addEventListener("click", function () {
      document.getElementById("downloadForm").submit();
      });
    </script>
    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</body>
</html>

