body {
    margin: 0;
    padding: 0;
    background-color: #e9e3e3;
  }
  
  .container-fluid {
    padding: 0;
  }
  
  .intro-heading {
    display: flex;
    background-image: url('../static/intro_back_2.jpg');
    background-size: 100% auto; /* Adjust the background size to cover the entire width */
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .header {
    background-color: #3468a0;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0px;
  }
  
  .header img {
    width: 130px;
    height: 80px;
    margin-right: 10px;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .header-text {
    display: flex;
    align-items: center;
    font-size: 30px;
  }
  
  /* Existing CSS code for the header */
  
  .options-strip {
    background-color: #e9e3e3;
    padding: 10px;
    margin-bottom: 0;
  }
  
  .options-list {
    list-style-type: none;
    display: flex;
    justify-content: left;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .option {
    padding: 8px 16px;
    border-radius: 1px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .option a {
    text-decoration: none;
    color: #3c3a3a;
  }
  
  .option.home-link a {
    color: #3c3a3a;
  }
  
  .option:hover {
    background-color: #ddd;
  }

  .intro {
    text-align: center;
  }
  
  .intro h1 {
    font-size: 32px;
    margin-bottom: 20px;
  
  }
  
  .intro-heading {
    display: flex;
    background-color: #2e9327;
    color: #fff;
    padding: 20px;
    text-align: left;
  }
  
  .intro h1 {
    margin: 0;
  }
  

  .dropdowns {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add this line to create space between elements */
    margin-left: 20px;
  }
  
  .dropdowns label {
    margin-right: 10px;
  }
  
  /* CSS for dropdown styling */
  .select-wrapper {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-left:2px;
  }
  
  .select-wrapper::after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  .select-wrapper select {
    appearance: none;
    background-color: #f8f9fa;
    border: 1px solid #000000;
    padding: 5px 30px 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    width: 200px;
  }
  
  /* CSS for submit button styling */
  .submit-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #343a40;
    color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #000; /* Add black border */
  }