<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../static/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

<div class="header">
    <a href="/">
      <img src="../static/logo2.jpg" alt="Logo" />
    </a>
    <p class="header-text" style="display: inline-block">| BIOMASS MAPPING TOOL</p>
</div>

<div class="options-strip">
    <ol class="options-list">
      <li class="option">
        <a href="/">
          <i class="fas fa-home"></i> Home
        </a>
      </li>
      <li class="option">
        <a href="/calculator">
        Biomass Potential Calculator
        </a>
    </li>
    <li class="option">
      <a href="/data">
          Data and Sources
      </a>
    </li>
    <li class="option">
      <a href="/documentation">
          Documentation
      </a>
  </li>
  <li class="option">
    <a href="/about">
        About Us
    </a>
  </li>
      
      <!-- Add more options as needed -->
    </ol>
</div>


<div class="container-fluid">
  <div class="intro">
    <div class="intro-heading">
      <h1>Introduction</h1>
    </div>
    <div class="intro-content">
        <p>
          <strong>Welcome to the Biomass Mapping tool.</strong> This tool is designed to provide raw biomass potentials for various geographies across the world.
          Check out the Biomass Potential Calculator which will allow you to select the geography of your choice along with several
          other factors such as RCP, Climate Model etc. and allow you to obtain total biomass potential from that area. You can aslo get the predicted 
          biomass potential from future years, and can individually get the potential from cropland or marginal land.
          To learn more about the working methodology, please refer to the documentation. The Data and Sources section 
          contains all of the data that has been used to make this tool along with the sources. We will soon be adding more
          functionality to the tool.<br><br>
          <span span style="font-size: 26px; font-weight: bold;"> Stay Tuned! </span>
        </p>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>


